.button_container {
  display: flex;
  justify-content: right;
}

button {
  padding: 0.7rem 1rem;
  border: 0;
  border-radius: 0;
  outline: none;
  background: palevioletred;
  color: aliceblue;
}
#chart_container {
  padding: 1rem;
}

.w-100 {
  width: 100%;
}

.w-33 {
  width: 33%;
}

.w-50 {
  width: 50%;
}

.row {
  display: flex;
  padding: 3rem 0;
  display: flex;
  align-items: center;
}
